# Backend API Endpoint
NEXT_PUBLIC_API_URL=http://localhost:5000/api

# Firebase Public Config (Required in Auth Milestone)
# NEXT_PUBLIC_FIREBASE_API_KEY=
# NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
# NEXT_PUBLIC_FIREBASE_PROJECT_ID=
